# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

target/**
*.project
.classpath
.settings/**
src/test/resources/wqt.properties
src/test/resources/wqt.properties
.idea/**
CWWaitingQueueTicket.iml