@CHARSET "ISO-8859-1";

.button {
	background-color: transparent;
	display: inline-block;
	text-decoration: none;
	border: 1px solid;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	padding: 10px 30px 8px;
	font-size: 16px;
	line-height: 1;
	text-align: center;
}

.button-next-customer {
	margin-top: 10px;
	margin-bottom: 10px;
}

.button-center {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%
}

.button:hover {
	text-decoration: none;
	cursor: pointer;
	color: #000;
}

.button-neutral {
	color: #fff;
	border-color: #fff;
}

.button-neutral:hover {
	color: #fff;
	background-color: #000;
}

.button-primary {
	color: #23849b;
	border-color: #23849b;
}

.button-primary:hover {
	color: #fff;
	background-color: #23849b;
}